.table {
  margin-top: 20px;
  padding: 0 20px;
  border-collapse: collapse;
  background: white;
  width: 100%;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  text-align: center;
}

/* TABLE HEADER */

.table th {
  height: 47px;
  color: #FFFF;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(180deg, #5A84C0 0%, #594ED2 100%);
}

.circle {
  height: 8px;
  width: 8px;
}

.th-mobile {
  display: none;
}

/* TABLE BODY */

.down-icon {
  height: 32px;
  width: 32px;
}

.table tbody tr {
  width: 100%;
}

.table tbody img {
  height: 34px;
  width: 34px;
  border-radius: 50%;
}

.table td {
  height: 60px;
}

.td-mobile {
  display: none;
}

.table-disabled {
  display: none;
}

.more-table {
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* TABLE OTHERS */

.mobile-job {
  display: none;
}

.shadow {
  box-shadow: 0 1px 2px #00000020;
}

/* BREAKPOINTS */

@media (min-width: 768px) {
  .circle {
    display: none;
  }

  .mobile-job {
    display: block;
  }

  .th-mobile {
    display: table-cell;
  }

  .td-mobile {
    display: table-cell;
  }

  .down-icon {
    display: none;
  }

  .table td {
    height: 49px;
  }
}

